<div id="main-wrapper">
    <div class="container-12">

        <div id="main" class="clearfix">

            <div id="content" class="column grid-12" role="main">
                <div class="section">
                    <div class="region region-content">
                        <div id="block-system-main" class="block block-system block-even">
                            <div class="content">
                                <div class="panel-flexible panels-flexible-5 clearfix">
                                    <div class="panel-flexible-inside panels-flexible-5-inside">
                                        <div class="panels-flexible-region panels-flexible-region-5-center panels-flexible-region-first panels-flexible-region-last">
                                            <div class="inside panels-flexible-region-inside panels-flexible-region-5-center-inside panels-flexible-region-inside-first panels-flexible-region-inside-last">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- /.content -->
                        </div><!-- /.block -->

                        <section id="block-views-about-our-product-block" class="block block-views grid-4 alpha separator-bottom block-odd aboutnewblock1">
                            <h3>The Luv My Avo Story</h3>

                            <div class="content">
                                <div class="view view-about-our-product view-id-about_our_product view-display-id-block view-dom-id-95aa11d76eb2a2ec5b68dd571e06aec4">
                                    <div class="view-content">
                                        <div class="views-row views-row-1 views-row-odd views-row-first views-row-last">


                                          <!--  <div class="views-field views-field-field-image">
                                                <div class="field-content"><img src="http://livedemo00.template-help.com/drupal_48612/sites/default/files/styles/364x227/public/field/image/img03.jpg" width="364" height="227" alt="">
                                                </div>
                                            </div>
                                            <div class="views-field views-field-title">
                                                <h6 class="field-content">
                                                    <a href="javascript:void(0);">Otreasase kuhasasety kertya aset aplicbo neras faeskeseas kertyu ersvitae doletyuasas.</a>
                                                </h6>
                                            </div>-->


                                            <div class="views-field views-field-body">
                                                <span class="field-content">
                                                    “Luv My Avo was formed out of a passion for cooking nutritious, healthy food for our family. We love the taste and benefits of cooking with avocado oil but found that our local markets lacked quality products, let alone options that offered the variety of taste options and infused flavours. Admittedly it was a bit selfish, but we wanted access to affordable avocado oil-based products here at home and figured we were not alone. So why not make them ourselves?”<br><br>
We have spent the better part of the last twenty years working in the hospitality, wellness and technology industries in both operational, marketing and sales roles. LuvMyAvo is committed to building a business that prioritizes our community impact as much as profitability and innovation. We believe our brand’s success is based on transparent relationships with our customers and vendors and by being responsive to their needs and preferences. <br>#FeelTheLove <br><br>
Luv My Avo is developing a range of products that we plan to launch within the next 6-12 months and will also look to acquire new brands and manufacturing technology to help grow our company and capitalize on new ingredients and trends. <br>#NeverStopInnovating

                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- /.content -->
                        </section><!-- /.block -->

                        <section id="block-views-our-history-block" class="block block-views grid-4 separator-bottom block-even aboutnewblock2">
                            <h3>Our Mission</h3>
                            <div class="content">
                                <div class="view view-our-history view-id-our_history view-display-id-block view-dom-id-6729f80684bbb54586fe79059fd90509">
                                    <div class="view-content">

                                        <div class="views-field views-field-body">
                                            <span class="field-content">Love My Avo strives to produce high-quality, affordable products using nourishing, healthy ingredients that are derived from sustainable farming practices. Our vision is to serve our community of passionate food-lovers with delicious products and extend that service to our friends and neighbours by providing support to local charities and food programs. <br><br>
                                            <h3>Make Food Not War</h3>
We believe that everyone deserves to have access to healthy meals. With that in mind, we have developed <a href="http://makefoodnotwar.org/" target="_blank">
MakeFoodNotWar.org</a> that will act as the philanthropic arm of LuvMyAvo with a goal of contributing resources to non-profits and as a strategic partner to charities in the Lower Mainland who run food programs, community outreach services and provide opportunities for those with employment barriers by way of culinary education.<br><br>
<br> #BeTheChange</span><br> 

 <div class="clear"></div>

<img src="images/MakeFoodNotWar_logo.png"  alt="" class="aboutimg1" style="border:none; width: 20%;">
<!--<img src="images/aboutimg1.png"  alt="" class="aboutimg1">
<img src="images/aboutimg2.png"  alt=""  class="aboutimg2">-->


 <div class="clear"></div>


                                        </div>

                                        <!--<div class="views-row views-row-1 views-row-odd views-row-first">
                                            <div class="views-field views-field-title">
                                                <h3 class="field-content">
                                                    <a href="javascript:void(0);">2014 -</a>
                                                </h3>
                                            </div>
                                            <div class="views-field views-field-body">
                                                <span class="field-content">In nibh tellus, malesuada nec est et, tempor convallis dolor. Maecenas cursus diam quis massa elementum interdum. Etiam consectetur nisi velit, id facilisis</span>
                                            </div>
                                        </div>
                                        <div class="views-row views-row-2 views-row-even">
                                            <div class="views-field views-field-title">
                                                <h3 class="field-content">
                                                    <a href="javascript:void(0);">2012 -</a>
                                                </h3>
                                            </div>
                                            <div class="views-field views-field-body">
                                                <span class="field-content">Integer vitae convallis lorem. Quisque eget mollis odio. Nullam vehicula in odio dictum facilisis. Etiam sit amet lacinia ante. Pellentesque est felis,</span>
                                            </div>
                                        </div>
                                        <div class="views-row views-row-3 views-row-odd">
                                            <div class="views-field views-field-title">
                                                <h3 class="field-content">
                                                    <a href="javascript:void(0);">2003 -</a>
                                                </h3>
                                            </div>
                                            <div class="views-field views-field-body">
                                                <span class="field-content">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus vel libero mauris. Phasellus feugiat leo ac porta euismod.</span>
                                            </div>
                                        </div>
                                        <div class="views-row views-row-4 views-row-even views-row-last">
                                            <div class="views-field views-field-title">
                                                <h3 class="field-content">
                                                    <a href="javascript:void(0);">1999 -</a>
                                                </h3>
                                            </div>
                                            <div class="views-field views-field-body">
                                                <span class="field-content">Fusce lobortis posuere laoreet. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Cras molestie justo sit amet dictum</span>
                                            </div>
                                        </div>-->
                                    </div>
                                </div>
                            </div><!-- /.content -->
                        </section><!-- /.block -->


                        <div class="clear"></div>


                      <!--  <section id="block-block-12" class="block block-block advantages grid-4 omega separator-bottom block-odd">
                            <h3>Advantages</h3>

                            <div class="content">
                                <h3>Mertytasas Deirue Loauyas Smeraysua Trevasya</h3>
                                <h6>Otreasase kuhasasety kertya aset aplicbo neras faeskeseas kertyu ersvitae doletyuasas.</h6>
                                <p>Lorem ipsum dolor sit amet, contetur adipiscing elit. Morbi suscipit tortor urna, ac pellentesque dui aliquet eget. Etia eu sem purus. Aliquam facilisis pharetra.</p>
                                <ul class="list">
                                    <li><a href="#">Asety kscaresers</a></li>
                                    <li><a href="#">Venertyu ersvitae ertyasnemo </a></li>
                                    <li><a href="#">Lasec vasptaiades </a></li>
                                    <li><a href="#">Moertayse volernatur</a></li>
                                    <li><a href="#">Coditaut onqunturs</a></li>
                                    <li><a href="#">Magni doloreso </a></li>
                                    <li><a href="#">Msequci eque porro </a></li>
                                    <li><a href="#">Niuisquam esta</a></li>
                                </ul>
                            </div>&lt;!&ndash; /.content &ndash;&gt;
                        </section>--><!-- /.block -->

                        <!--<section id="block-views-our-team-block" class="block block-views fclear block-even">
                            <h3>Meet Our Team</h3>
                            <div class="content">
                                <div class="view view-our-team view-id-our_team view-display-id-block view-dom-id-bbdde65dd30320ca2395aaefbab7f975">
                                    <div class="view-content">
                                        <div class="grid-3 alpha odd">
                                            <div class="views-field views-field-field-employee-photo">
                                                <div class="field-content">
                                                    <img src="http://livedemo00.template-help.com/drupal_48612/sites/default/files/styles/our_team_80x80/public/img10.jpg" width="268" height="227" alt="">
                                                </div>
                                            </div>
                                            <div class="views-field views-field-title">
                                                <h5 class="field-content">
                                                    <a href="javascript:void(0);">Eva Savits</a>
                                                </h5>
                                            </div>
                                            <div class="views-field views-field-nothing">
                                                <span class="field-content">Vivamus vel eros eget magna volutpat sagittis. Nulla faucibus nibh a magna tincidunt accumsan <a href="javascript:void(0);">[...]</a></span>
                                            </div>
                                        </div>
                                        <div class="grid-3 even">
                                            <div class="views-field views-field-field-employee-photo">
                                                <div class="field-content">
                                                    <img src="http://livedemo00.template-help.com/drupal_48612/sites/default/files/styles/our_team_80x80/public/img07.jpg" width="268" height="227" alt="">
                                                </div>
                                            </div>
                                            <div class="views-field views-field-title">
                                                <h5 class="field-content">
                                                    <a href="javascript:void(0);">Mark Johnson</a>
                                                </h5>
                                            </div>
                                            <div class="views-field views-field-nothing">
                                                <span class="field-content">Vivamus vel eros eget magna volutpat sagittis. Nulla faucibus nibh a magna tincidunt accumsan <a href="javascript:void(0);">[...]</a></span>
                                            </div>
                                        </div>
                                        <div class="grid-3 odd">
                                            <div class="views-field views-field-field-employee-photo">
                                                <div class="field-content">
                                                    <img src="http://livedemo00.template-help.com/drupal_48612/sites/default/files/styles/our_team_80x80/public/img02.jpg" width="268" height="227" alt="">
                                                </div>
                                            </div>
                                            <div class="views-field views-field-title">
                                                <h5 class="field-content">
                                                    <a href="javascript:void(0);">John Franklin</a>
                                                </h5>
                                            </div>
                                            <div class="views-field views-field-nothing">
                                                <span class="field-content">Vivamus vel eros eget magna volutpat sagittis. Nulla faucibus nibh a magna tincidunt accumsan <a href="javascript:void(0);">[...]</a></span>
                                            </div>
                                        </div>
                                        <div class="grid-3 omega even">
                                            <div class="views-field views-field-field-employee-photo">
                                                <div class="field-content">
                                                    <img src="http://livedemo00.template-help.com/drupal_48612/sites/default/files/styles/our_team_80x80/public/img11_0.jpg" width="268" height="227" alt="">
                                                </div>
                                            </div>
                                            <div class="views-field views-field-title">
                                                <h5 class="field-content">
                                                    <a href="javascript:void(0);">Sam Kromstain</a>
                                                </h5>
                                            </div>
                                            <div class="views-field views-field-nothing">
                                                <span class="field-content">Vivamus vel eros eget magna volutpat sagittis. Nulla faucibus nibh a magna tincidunt accumsan <a href="javascript:void(0);">[...]</a></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>&lt;!&ndash; /.content &ndash;&gt;
                        </section>--><!-- /.block -->
                    </div>
                </div>
            </div>
        </div><!-- /#main -->
    </div>
</div>