<div id="main-wrapper">
    <div class="container-12">

        <div id="main" class="clearfix">

            <div id="content" class="column grid-12" role="main">
                <div class="section">
                   
                    <div class="region region-content">
                        <div id="block-system-main" class="block block-system block-even">

                            <div class="content">
                                <div class="panel-flexible panels-flexible-4 clearfix">
                                    <div class="panel-flexible-inside panels-flexible-4-inside">
                                        <div class="panels-flexible-region panels-flexible-region-4-center panels-flexible-region-first panels-flexible-region-last">
                                            <div class="inside panels-flexible-region-inside panels-flexible-region-4-center-inside panels-flexible-region-inside-first panels-flexible-region-inside-last">
                                                <div class="panel-pane pane-custom pane-1 privacytext">



                                                    <div class="pane-content  aboutnewblock1">
                                                    
                                                     <h1 class="title" id="page-title">Nutrition information</h1>

<p>Food rich in Omega 3, 6 and 9 fatty acids like avocado oil are highly recognized as contributing to a healthy heart, brain and eyes.<br />
<br />


Luv My Avo avocado oil consist mainly of Linoleic and Linolenic polyunsaturated fatty acids, which help to prevent cardiovascular events by lowering harmful LDL cholesterol levels and at increasing HDL ("good") cholesterol. Avocado Oil boasts 20 essential nutrients like, calcium, iron, magnesium, copper, A, C, D, E, K, AND B vitamins (thiamine, riboflavin, niacin, pantothenic acid, biotin, B6, folic acid). It is high in potassium, low in sodium and contains beta-Sitosterol that prevents the body to absorb harmful LDL cholesterol.
<br />
<br />

Another property of the avocado oil is that it can be heated up to 260&deg;C offering you both a safe and nutrition culinary oil for your high temperature cooking! 
<br />
<br />

The avocado oil covers more than the 10% of the recommended daily requirements. The avocado a good ratio of unsaturated/saturated fatty acids and vitamin E, optimizing the functions of the first ones. This analysis qualifies the avocado oil as an excellent source of vitamins, because it contains them in quantity, quality and harmony, maximizing the absorption by the body.</p>
<!--<p>Food rich in Omega 3, 6 and 9 fatty acids like the avocado oil are highly recognized as the secret to have a healthy heart, brilliant brain and eagle eyes.<br />
<br />

Luv My Avo avocado oil consist mainly of linoleic and linolenic polyunsaturated fatty acids, thanks to them the medicinal properties of the avocado oilhelp to prevent cardiovascular events, lowering harmful LDL cholesterol levels and at the same time increasing HDL ("good") cholesterol
The harmful LDL cholesterol gives about 20 essential nutrients like, calcium. iron, magnesium, copper, A, C, D, E, K, AND B vitamins (thiamine, riboflavin, niacin, pantothenic acid, biotin, B6, folic acid) including fiber, proteins and carbohydrates. It is high in potassium and low in sodium, contains betasistosterol that prevents the body to absorb harmful LDL cholesterol.<br />
<br />

Another property of the avocado oil is that it can be heated up to 260&ordm;C, it resists more time without burning, keeping the same properties of the fresh fruit. 
<br />
<br />

It is great for the culinary art because is very convenient for frying for its high smoke point this allows to use it several times without causing damage compared with other oils available in the market.<br />
<br />

The avocado oil covers more than the 10% of the recommended daily requirements. The avocado presents a good relation between unsaturated/saturated fatty acids and vitamin E, optimizing the functions of the first ones. This analysis qualifies the avocado oil "Avogratto" as an excellent source of vitamins, because it contains them in quantity, quality and harmony, maximizing the absorption by the body.</p>-->

                                                    </div>
                                                    
                                                    <div class="pane-content  aboutnewblock2" style="min-height:650px;">
                                                    
                                                    <h1 class="title" id="page-title">News Articles</h1>



                                                    </div>

 <div class="clear"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- /.content -->
                        </div><!-- /.block -->  </div>
                </div>
            </div>

        </div><!-- /#main -->

    </div>
</div>